*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:salmon;
    line-height: 1.6;
}

header{
    background-color:cornflowerblue;
    color: black;
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

main{
    max-width: 1200px;
    margin: 0 auto 2rem;
    padding: 0 1rem;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.search-filter{
    display: flex;
    flex-grow: 1;
    max-width: 800px;
    gap: 0.5rem;
    flex-wrap: wrap;
}

#search-input{
    padding: 0.5rem 1rem;
    border: 2px solid orangered;
    border-radius: 6px;
    flex-grow: 1;
    min-width: 200px;
    font-size: 1rem;
}

#genre-filter{
    padding: 0.5rem;
    border: 2px solid orangered;
    border-radius: 6px;
    font-size: 1rem;
    background-color:cornflowerblue;
}